<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testings">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name=".ImageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.BlackStatusBar">
        </activity>

        <activity
            android:name=".ui.news.NewsDetails.NewsDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="Детали"
            android:theme="@style/AppTheme.SlideClose">
        </activity>

        <activity
            android:name=".ui.events.EventDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.SlideClose"
            android:label="Детали">
        </activity>

        <activity
            android:name=".ui.unstudents.ProfileDetails.ProfileInfoActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.SlideClose"
            android:label="Направление">
        </activity>

    </application>

</manifest>